<!DOCTYPE html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' type='text/css' rel='stylesheet'>
    <link rel='stylesheet' href='./style.css'>
    <title>twyst</title>
  </head>
<body>
<div class='container'>
  <div class='header'>
    <img class='logo-header' src='./reimageassets/logo_2.png'>
  </div>
  <div class='img-container'>
    <div class='img-splash'>
      <div class='img-text'>
        <h2 class='money'><span>&#x20B9;</span>{{amount}}<h2>
        <h2>Dear {{name}}</h2>
        <p>Congratulations on redeeming Rs. {{amount}}</p>
        <p>Twyst Bucks for Amazon on Twyst.in</p>
    </div>
    </div>
  </div>
  <div class='stanza'>
    <h3>VOUCHER DETAILS</h3>
    <div class='key-val'>
      <div class='left inline'>Brand</div>
      <div class='right inline'>{{brand}}</div>
      <div class='left inline'>Amount</div>
      <div class='right inline'>Rs. {{amount}}</div>
      <div class='left inline'>GV Code</div>
      <div class='right inline'>{{gvcode}}</div>
      <div class='left inline'>GV PIN</div>
      <div class='right inline'>{{gvpin}}</div>
      <div class='left inline'>Validity</div>
      <div class='right inline'>{{date}}</div>

      <p class='italics tnc'>T&C:{{tnc}}</p>
    </div>
    <button class='btn-orange btn-pad-2 btn-round center'>HOW TO REDEEM</button>
  </div>

  <hr>

  <div class='stanza'>
    <h3>Earn more on Twyst.in by :</h3>
    <div class='key-val'>
      <div class='left inline'><p>1. Referring your friends :</p></div>
      <div class='right inline'><button class='btn-round btn-pad-2 btn-sea-green'>Share your link</button></div>
    </div>
    <div class='key-val'>
      <div class='left inline'><p>2. Like and follow us on :</p></div>
      <div class='right inline'>
          <div class='soc inline size-3 btn-round'><div class='shade inline fb'><i class='shift fa fa-facebook fa-2x'></i></div></div>
          <div class='soc inline size-3 twt btn-round'><div class='shade inline twitter'><i class='fa fa-twitter fa-2x'></i></div></div>
          <div class='soc inline size-3 inst'><div class='shade inline insta'><i class='fa fa-instagram fa-2x'></i></div></div>
      </div>
    </div>

  </div>

  <hr>

  <div class='stanza'>
    <h3>Some of our partners : </h3>
    <div style="text-align:center">
      <img src='https://drive.google.com/open?id=0B3TM4-mBrzZQSUZBTXhVNTN4T0k' style='width:120px;height:50px;'>
      <img src='https://drive.google.com/open?id=0B3TM4-mBrzZQOUUxVW9UaTJpT3c/amazon-logo.jpg' style='width:120px;height:50px;margin-left:60px'>
      <img src='https://drive.google.com/open?id=0B3TM4-mBrzZQOUUxVW9UaTJpT3c/Myntra.png' style='width:120px;height:50px;margin-left:60px'>
    </div>
    <div style="text-align:center">
      <img src='https://drive.google.com/open?id=0B3TM4-mBrzZQOUUxVW9UaTJpT3c/EBay_logo.png' style='width:100px;height:50px;'>
      <img src='https://drive.google.com/open?id=0B3TM4-mBrzZQOUUxVW9UaTJpT3c/JABONG.jpg' style='width:100px;height:50px;margin-left:60px'>
      <img src='https://drive.google.com/open?id=0B3TM4-mBrzZQOUUxVW9UaTJpT3c/Bookmyshow.jpg' style='width:100px;height:65px;margin-left:60px'>
    </div>
  </div>

  <div class='footer stanza'>
    <div>
      <button class='btn-round btn-blue btn-pad-2'>REVIEW & RATE US</button>&emsp;<button class='btn-round btn-blue btn-pad-3'>FEEDBACK</button>
    </div>
    <p class='size-2'>
      Regards,<br>
      Twyst.in Team<br>
      Visit us :<a href='http://twyst.in/home/'>http://twyst.in/home/</a>
    </p>
    <img class='logo-footer' src='./reimageassets/logo_2.png'>
    <hr>
  </div>
</div>
</body>
</html>
