<!DOCTYPE html>
  <head>
  </head>
<body style="margin: 0;   padding:0;background-color: #EEE; font-family:'Helvetica'">
<div class='container' style="width: 580px;   background: white;   margin: 0 auto;   border-top-left-radius: 15px;   border-top-right-radius: 15px;">
  <div class='header' style="background: #333;   border-top-left-radius: 15px;   border-top-right-radius: 15px;   text-align: center;   height: 50px;   line-height: 50px;">
    <img class='logo-header' src='http://s19.postimg.org/ma5qwhh1f/logo_2.png' style="width:150px; height:100%; margin:0; padding-top:12px;">
  </div>
  <div class='img-container' style="padding: 5px 10px;">
    <div class='img-splash' style="background-image: url('http://s19.postimg.org/6d6yzron7/banner.png');   background-position: center;   background-repeat: no-repeat;   background-size: 100% 100%;   box-shadow: 0px 0px 2px #999;   width: 100%;   height: 250px;">
      <div class='img-text' style="text-align: center;   width: 450px; margin: 0 auto; padding-top:62px">
        <h2 class='money' style="font-size: 30px ;   color:white ; margin:0px"><span style="font-size: 15px; ">&#x20B9;</span>{{amount}}</h2>
        <h2 style=" font-size: 30px;   color:#1156b3; margin:35px 0 5px 0">Dear {{name}}</h2>
        <p style="font-size: 20px; margin:0">Congratulations on redeeming {{twyst_cash_used}}</p>
        <p style="font-size: 20px; margin:0">Twyst Cash for {{brand}} voucher worth Rs.{{amount}} on Twyst.in</p>
    </div>
    </div>
  </div>
  <div class='stanza' style="padding: 5px 10px;">
    <h3 style="text-align:center; font-size:20px">VOUCHER DETAILS</h3>
    <div class='key-val' style="font-size:18px">
      <div class='left inline' style="text-align: left;   padding-left: 1%;   width: 49%;display: inline-block;">Brand</div>
      <div class='right inline' style="text-align: right;     width: 49%;display: inline-block;">{{brand}}</div>
      <div class='left inline' style="text-align: left;   padding-left: 1%;   width: 49%;display: inline-block;">Amount</div>
      <div class='right inline' style="text-align: right;   width: 49%;display: inline-block;">Rs. {{amount}}</div>
      <div class='left inline' style="text-align: left;   padding-left: 1%;   width: 49%;display: inline-block;">EGV Code</div>
      <div class='right inline' style="text-align: right;   width: 49%;display: inline-block;">{{egvcode}}</div>
      <div class='left inline' style="text-align: left;   padding-left: 1%;   width: 49%;display: inline-block;">EGV PIN</div>
      <div class='right inline' style="text-align: right;   width: 49%;display: inline-block;">{{egvpin}}</div>
      <div class='left inline' style="text-align: left;   padding-left: 1%;   width: 49%;display: inline-block;">Validity</div>
      <div class='right inline' style="text-align: right;   width: 49%;display: inline-block;">{{date}}</div>

      <p class='italics tnc' style="font-style:italic;font-size:12px">T&C: {{tnc}}</p>
    </div>
    <div style="text-align:center">
    <button style="   padding: 10px;border:none;   background: none;   color: white;   width: 225px; border-radius: 2px; background-color: #F89422; ">HOW TO REDEEM</button>
    </div>
  </div>

  <hr style="width:98%; border:solid 1px #D9D9D9;">

  <div class='stanza' style="padding: 5px 10px; font-size:18px">
    <h3 style="font-size:20px;">Earn more on Twyst.in by:</h3>
    <div class='key-val'>
      <div class='left inline' style="text-align: left;   width: 49%;display: inline-block;"><p>1. Referring your friends :</p></div>
      <div class='right inline' style="text-align: right;   width: 49%;display: inline-block;"><button style=" padding: 10px;border:none;   background: none;   color: white;   width: 145px; border-radius: 2px;background-color: #05E880; ">Share your link</button></div>
    </div>
    <div class='key-val'>
      <div class='left inline' style="text-align: left;   width: 49%;display: inline-block;"><p>2. Like and follow us on :</p></div>
      <div class='right inline' style="text-align: right;   width: 49%;display: inline-block;">
          <div class='soc inline size-3 btn-round'><div class='shade inline fb'></div></div>
          <div class='soc inline size-3 twt btn-round'><div class='shade inline twitter'></div></div>
          <div class='soc inline size-3 inst'><div class='shade inline insta'></div></div>
      </div>
    </div>

  </div>

  <hr style="width:98%; border:solid 1px #D9D9D9;">

  <div class='stanza' style="padding: 5px 10px;">
    <h3 style="font-size:20px">Some of our partners : </h3>
    <div style="text-align:center">
      <img src='http://s19.postimg.org/sf1unjyir/flipkart.jpg' style='width:120px;height:50px;'>
      <img src='http://s19.postimg.org/dmx4w7slf/amazon_logo.jpg' style='width:120px;height:50px;margin-left:60px'>
      <img src='http://s19.postimg.org/ou5z4btz7/Myntra.png' style='width:120px;height:50px;margin-left:60px'>
    </div>
    <div style="text-align:center">
      <img src='http://s19.postimg.org/k4bg1zdkz/EBay_logo.png' style='width:100px;height:50px;'>
      <img src='http://s19.postimg.org/4hos2cp6r/JABONG.jpg' style='width:100px;height:50px;margin-left:60px'>
      <img src='http://s19.postimg.org/y8bwo4a6b/Bookmyshow.jpg' style='width:100px;height:65px;margin-left:60px'>
    </div>
  </div>

  <div class='footer stanza' style="padding: 5px 10px;">
    <div style=" text-align:center">
      <button style="   padding: 10px;border:none;   background: none;   color: white;   width: 225px; border-radius: 2px;background-color: #1654b0; ">
        REVIEW & RATE US</button>&emsp;<button style="   padding: 10px;border:none;   background: none;   color: white;   width: 225px; border-radius: 2px;background-color: #1654b0; ">FEEDBACK</button>
    </div>
    <p class='size-2'>
      Regards,<br>
      Twyst.in Team<br>
      Visit us :<a href='http://twyst.in/home/'>http://twyst.in/home/</a>
    </p>
    <img class='logo-footer' src='http://s19.postimg.org/ma5qwhh1f/logo_2.png' style="width:60px; height:25px;">
    <hr style="width:100%; border:solid 1px #333;">
  </div>
</div>
</body>
</html>
